{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Вход в систему</h1>
<form method="POST" class="w-25">
    <div class="mb-3">
        <label class="form-label">Логин</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input type="password" name="password" class="form-control">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" name="remember" class="form-check-input" id="remember">
        <label class="form-check-label" for="remember">Запомнить меня</label>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}
